


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans;
}





/* ========== Menu ==========*/
#menu-horizontal ul {
    list-style: none;
    padding: 0;
    background-color: #000;
    text-align: right;
}

#menu-horizontal ul li {
    display: inline;
}

#menu-horizontal ul li a {
    color: rgb(228, 114, 7);
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: background .2s;
    border-radius: 10px;
}

#menu-horizontal ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(228, 114, 7);
    border-radius: 10px;
}









/* ========== Imagem Slide ==========*/

.container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(204, 0, 0);
}

.container > ul{
    display: block;
    padding: 0;
    padding-inline: 0;
    list-style: none;
}

.container > ul > img{
    max-height: 100%;
    max-width: 100%;
}

.titulos {
    font-weight: 700;
    font-size: larger;
    text-transform: uppercase;
    text-align: center;
    background-color: blueviolet;
}

.texto {
    padding: 5px;
    margin: 5px;
    text-align: justify;
    text-indent: 30px;
}










/* ========== FOOTER ==========*/
.footer {
    margin-top: 0px;
    background-color: black;
    max-height: 120px;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.footer > #footer-id {
    text-align: center;
    background-color: aqua;
    height: auto;
    font-size: 18px;

}